<div class="container mt-5" >
  <div class="card">
    <div class="card-header"> Add Account</div>
    <div class="card-body">
      <form [formGroup]="newAccountFormGroup" (ngSubmit)="getCustomer()" method="post" class="input-group">
          <label class="input-group-text">Customer id :</label>
          <input type="text" formControlName="id" class="form-control">
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
      </form>
      <form [formGroup]="newAccountFormGroup" method="post" *ngIf="customer">
        <div class="mb-3" >
          <label class="form-label">Type of Account:</label>
        </div>
        <div class="form-check form-check-inline" >
          <input class="form-check-input" type="radio" formControlName="accountType" value="savingaccount">
          <label class="form-check-label" >Saving Account</label>
        </div>
        <div class="form-check form-check-inline" >
          <input class="form-check-input" type="radio" formControlName="accountType" value="currentaccount">
          <label class="form-check-label" >Current Account</label>
        </div>
        <div class="mb-3" *ngIf="newAccountFormGroup.value.accountType == 'savingaccount'">
          <label class="form-label">Interest Rate :</label>
          <input type="text" formControlName="interestRate" class="form-control">
        </div>
        <div class="mb-3" *ngIf="newAccountFormGroup.value.accountType == 'currentaccount'" >
          <label class="form-label">Over Draft :</label>
          <input type="text" formControlName="overDraft" class="form-control">
        </div>
        <div class="mb-3" >
          <label class="form-label">Balance :</label>
          <input type="text" formControlName="balance" class="form-control">
        </div>
        <div class="d-grid mt-2">
          <button class="btn btn-primary" (click)="doSaveAccount()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
