  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accounts : </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container mt-3" *ngIf="accountList">
            <div class="card">
              <div class="card-header"> List of customers</div>
              <div class="card-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Balance</th>
                    <th>Creation date</th>
                    <th>Status</th>
                    <th>Delete</th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let account of accountList | async">
                    <td>{{account.id}}</td>
                    <td>{{account.balance}}</td>
                    <td>{{account.createdAt}}</td>
                    <td>{{account.status}}</td>
                    <td>
                      <button class="btn btn-danger" (click)="doDeleteAccount(account.id)">
                        <i class="bi bi-trash3"></i>
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-info" data-bs-dismiss="modal" aria-label="Close" (click)="goToOperations(account.id)">
                        <i class="bi bi-journal-text"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
